.inner.cover .step-two,
.inner.cover .step-three,
.inner.cover .step-four {
	left: -9999px;
}
.inner.cover.on-step-two   .step-two,
.inner.cover.on-step-three .step-two,
.inner.cover.on-step-four  .step-two {
	left: 0;
}
.inner.cover.on-step-three .step-three,
.inner.cover.on-step-four  .step-three {
	left: 0;
}
.inner.cover.on-step-four .step-four {
	left: 0;
}

.license {
	display: inline-block;
	width: 250px;
	height: 250px;
	background: white;
	margin: 10px 10px 20px;
	border-radius: 10px;
	padding: 10px 10px 0;
	cursor: pointer;

	-webkit-transition: box-shadow .5s;
	        transition: box-shadow .5s;

	-webkit-box-shadow: inset 0 0 150px rgba(0,0,0,.75);
	        box-shadow: inset 0 0 150px rgba(0,0,0,.75);
}
.license:hover,
.license.active {
	border: 3px solid #A0CE4E;

	padding-top: 7px;

	-webkit-box-shadow: inset 0 0 50px rgba(0,0,0,.5);
	        box-shadow: inset 0 0 50px rgba(0,0,0,.5);
}
.license:hover p {
	color: #333;
}

.license img {
	width: 170px;

	margin-bottom: 5px;
}

.license p {
	-webkit-transition: color .5s;
	        transition: color .5s;

	margin-bottom: 0;

	font-size: 16px;
	color: #666;
}
.license p:last-child {
	font-size: 26px;
}

.step {
	position: relative;

	transition: left 0.2s;
}

.input {
	width: 100%;
	font-size: 18px;
	border-radius: 6px;
	padding: 10px 20px;
	border: none;
	color: #333;
}

.step-three {
	overflow: hidden;
}

.btn-pay {
	float: right;
}

.step-separator	{
	height: 5px;
}