APP_ENV=local
APP_DEBUG=true
APP_KEY=Ow4xVAG713QqN4PbtQREdgNcXVNYefAs

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file

PAYPAL_SANDBOX=true
PAYPAL_CLIENT_ID=MyPayPalClientID
PAYPAL_CLIENT_SECRET=MyPayPalClientSecret

WINDBOT_API_KEY=MyWindBotApiKey